.guestbox {
    display: flex;
    margin: 10px 5px 20px 20px;
    position: relative;
    overflow-y: scroll;
    flex-direction: column;
    font-size: 20px;
}
.box_size {
    width: 450px;
    height: 500px;
}
.guest_bar {
    display: flex;
    flex: 0.05;
    background-color: rgb(140, 226, 133);
    margin-bottom: 10px;
}
.guest_content {
    display: flex;
    flex: 0.8;
    flex-direction: row;
    height: 100px;
}
.guestbook-image {
    flex: 0 0 8rem;
    height: 8rem;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.background-1 {
    background-image: url("./images/background1.jpg");
}
.guestbook-image > img {
    width: 80%;
}
.guest_text {
    flex: 1;
    margin-left:15px;
    display:flex;
    justify-content:center;
    align-items:center;
}