.left-container {
    display: flex;
    flex: 0.35;
    flex-direction: column;
    margin: 0px 0px 15px 15px;
    font-family: 'Cute Font', cursive;
}
.middle-container {
    display: flex;
    flex: 0.7;
    flex-direction: column;
    margin-bottom: 15px;
    font-family: 'Hi Melody', cursive;
}
.left-title {
    flex:0.05;
    text-align: center;
    font-size: 20px;
    margin-top:15px;
}
.dropdown {
    display: inline-block;
    margin: 20px 50px;
}
.left-menu {
    width: 140px; height: 30px;
    border: 1px solid gray;
    padding-left: 3px;
}
.middle-titlebar {
    flex:0.05;
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
}
.middle-title1 {
    flex: 1;
    font-size: 20px;
}
.middle-title2 {
    flex: 1;
    font-size: 20px;
}
.left-content {
    flex: 1;
    font-size: 25px;
}
.middle-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size:30px;
}
.middle-col1 {
    flex: 0.2;
    margin: 20px 20px 0px 20px;
}
.middle-col2 {
    flex: 0.5;
    display: flex;
}
.middle-row2-1 {flex: 1;}
.middle-row2-2 {flex: 1;}
.middle-col3 {
    flex: 1;
    margin: 20px 20px 0px 20px;
}
.middle-col4 {flex: 1;}
.middle-img {text-align: center;}
.middle-img img{
    width: 250px;
    height: 250px;
}
.sidebar {
    flex: 0.15;
}
.side-menubar {
    position: relative;
    margin-top: 80px;
}
.side-menu {
    height: 30px;
    border: 1px solid rgb(37, 124, 88);
    border-radius: 0px 5px 5px 0;
    background-color: rgb(49, 172, 121);
    margin-top: 20px;
    color: white;
    font-weight: bolder;
}
.side-menubar div:hover {
    background: rgb(100, 100, 243)
}
.mark {color:red;}
.image {margin: 50px;}
.left-text {
    margin: 20px 50px;
}
.left-news {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
}
.left-news-flex{ 
    flex: 1;
    font-size: 20px;
}
.news-color1 {
    color: whitesmoke;
    background-color:rgb(255, 40, 24);
    border-radius: 10%;
    margin-left: 10px;
    font-size: 20px;
}
.news-color2 {
    color: whitesmoke;
    background-color: royalblue;
    border-radius: 10%;
    margin-left: 10px;
    font-size: 20px;
}
.right-news{
    flex: 1;
    font-size: 15px;
}
.table1{
    display: flex;
    flex-direction: row;
}
.table1-1{
    flex: 1;
}
.table1-2{
    flex: 1;
  }
.table2{
    display: flex;
    flex-direction: row;
}  
.table2-1{
    flex: 1;
}  
.table2-2{
    flex: 1;
}  
.num{
    color: rgb(62, 62, 255);
    font-size: 20px;
}  
.line{
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    border-top: dashed 1px;
    margin-right: 20px;
}
.title {
    color: lightseagreen;
    font-weight: bolder;
}