.diary-box .date-container {
    margin: 15px;
    height: 60px;
    border: 1px solid rgb(220, 220, 220);
    display: flex;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }
.today-date {
    color: lightblue;
    font-weight: bold;
    font-size: 18px;
    flex: 0.1;
    padding: 2px;
    box-sizing: border-box;
  }
.calendar {
    flex: 0.9;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    font-size: 20px;
  }
.day {
    color: rgb(158, 158, 158);
    margin-right: 6px;
    width: 20px;
    height: 20px;
  }
.sat {
    color: blue;
    margin-right: 7px;
    width: 20px;
    height: 20px;
  }
.sun {
    color: red;
    margin-right: 7px;
    width: 20px;
    height: 20px;
  }
.diary-container {
    overflow-y: scroll;
    margin: 15px;
    height: 400px;
  }
.diary-box {
    border: 1px solid rgb(220, 220, 220);
    margin-bottom: 30px;
  }
.diary-date {
    color: rgb(89,142,176);
    padding-top: 30px;
    margin-left: 20px;
}
.diary-text {
    text-align: center;
    margin: 30px 20px;
}
.diary-text p {
    margin: 5px 20px;
    font-size: 25px;
}
.fa-lock {
  margin-right: 15px;
}
.diary-button {
  background-color: #fff;
  padding: 15px;
  border: none;
  border-radius: 7px;
  color: #fff;
  display: block;
  margin: 20px auto;
}
.diary-button:hover {
  background-color: rgb(21, 151, 60);
  transition: 1200ms;
  cursor: pointer;
}
#secret-box {
  display: none;
  font-size: 25px;
}