.photobook {
    flex: 1;
    width: 480px;
    height: 100px;
    margin: 10px 5px 20px 20px;
    position: relative;
    overflow: auto;
}
.photo-title {
    color: lightseagreen;
    font-weight: bolder;
}
.photo-size {
    width: 450px;
    height: 300px;
}
.photo1 {
    background-color: rgb(184, 184, 184);
    border: 1px solid white;
}
.photo-size p {
    margin-top: 0px;
    font-size: 25px;
}
.img-size {
    width: 100%;
    height: 100%;
}